<footer>
    <div class="footer-container">
        <div class="social">
            <h6>Suivez nous sur les réseaux sociaux !</h6>
            <div class="social-icons">
                <img src="/public/assets/logo_linkedin.png" alt="" srcset="">
                <img src="/public/assets/logo_twitter.png" alt="" srcset="">
                <img src="/public/assets/logo_facebook.png" alt="" srcset="">
            </div>
        </div>
    </div>
</footer>